<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품수정</title>
</head>

<body>
<div class="product_wrap">
  <h3>상품수정</h3>
  <hr>
  <form method="post" action="">
    <div>
      <div><label for="">상품ID </label><input type="text" readonly name="pid" th:value="${editForm.pid}"></div>
      <div><label for="">상품명 </label><input type="text" name="pname" th:value="${editForm.pname}" ></div>
      <div><label for="">상품수량 </label><input type="text" name="count" th:value="${editForm.count}" ></div>
      <div><label for="">상품가격 </label><input type="text" name="price" th:value="${editForm.price}" ></div>
      <div>
        <button id="editBtn">저장</button>
        <button id="cancelBtn" type="button">취소</button>
      </div>
    </div>
  </form>
</div>
<script>
  //취소시 상세화면 이동
  cancelBtn.addEventListener('click',e=>{
    const pid = document.querySelector('input[name=pid]').value;
    const url = `/products/${pid}`;
    location.href=url;
  });
</script>
</body>
</html>